@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Kosugi+Maru'); */

/* CSS Document */

* {
	margin: 0;
	padding: 0;
    border: none;
    outline: 0;
}

body, html {
	margin: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
}

a {
	color: white;
}

a:hover {
	color: cyan;
}

h1 {
	font-size: 2.5em;
}

h1,h2,h3,h4 {
	font-weight: normal;
	padding: 5px 0 5px 0;
}

ul, ol{
	list-style-position: outside;
	padding-top: 5px;
}

li {
	font-size: 1em;
	line-height: 1.5em;
}

table {
	border: 0;
	align-items: center;
	width: 80%;
	border-collapse: collapse;
}

tr {
	line-height: 2em;
}

tr:nth-child(odd) {
    background-color: rgba(10, 10, 10, .2);
}

tr:nth-child(even) {
    background-color: rgba(200, 200, 200, .2);
}

span {
	color: red;
}

.row {
	width: 100%;
}

.container {
	padding: 25px;
	width: 320px;
	display: inline-block;
	vertical-align: top;
}

.listhead {
	font-size: 1.25em;
	color: white;
}

.nestedlist {
	padding: 5px 0 5px 0;
	margin-left: 15px;
}

.nestedlist li{
	margin-left: 10px;
}

.table {
	width: 80%;
}

#home {
	background-image: url("../img/bg.gif");
	background-repeat: repeat;
	background-attachment: fixed;
	min-height: 100vh;
	text-align: left;
}

#links {
	padding: 2px 0 2px 0;
}

#links a {
	text-decoration: none;
}

.favicon {
	height: 20px;
	padding-right: 10px;
}

#quote {
	font-style: italic;
	line-height: 1.2em;
	width: 240px;
}

#footer {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 75px;
	line-height: 75px;
}

#footer #logo {
	max-height: 75px;
}