@import url('https://fonts.googleapis.com/css?family=Concert+One');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Concert One';
    background: url(./img/bg.jpg);
    background-repeat: none;
    background-size: cover;
}

#main {
    margin: auto;
    height: 600px;
    width: 700px;
    text-align: center;
}

form,
.leaderboard {
    background-color: rgba(242, 218, 175, 0.8);
    margin: auto 50px;
    padding: 100px;
    border-radius: 25px;
}

.leaderboard {
    text-align: center;
}

table {
    width: fit-content;
    margin: auto;
    padding: 20px;
    font-size: 1.2em;
}

tr {
    text-align: left;
}
td {
    padding-right: 10px;
}

#character-section {
    padding-bottom: 30px;
}

img {
    width: 100px;
}

#character-title {
    padding-left: 10px;
    padding-bottom: 30px;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked ~ img {
    width: 125px;
}

input[type='text'] {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    font-family: 'Concert One';
    font-size: 14pt;
}

input[type='submit'],
a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: gainsboro;
    font-weight: bold;
    font-family: 'Concert One';
    font-size: 14pt;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}
