@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Kosugi+Maru'); */

/* CSS Document */

* {
	margin: 0;
	padding: 0;
    border: none;
    outline: 0;
}

body, html {
	margin: 0;
	width: 100%;
	font-family: "Kosugi Maru", Arial, Helvetica, sans-serif;
}
